.input-group{
  margin:20px 10px;
}
.form-control {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
}

.form-control:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}
td, th{
  vertical-align: middle !important;
  text-align: center !important;
}
thead tr th:hover{

}
.chart svg{
  width:240px;
  height:180px;
}

.chartCity div{
  width: 250px;
  height: 180px;
}
